.new-list-form {
  padding: 2px 10px;
}

mat-list.lists-nav {
  padding-top: 0;
  ::ng-deep mat-list-item.mat-list-item {
    height: 36px;
    .mat-list-item-content {
      padding: 0;
    }
  }
}

app-list-link {
  width: 100%;
}
