$panel-width: 80%;

.list-detail {
  app-task, app-create-task-form {
    width: $panel-width;
    &:first-of-type {
      .mat-expansion-panel.mat-expanded {
        margin-top: 0;
      }
    }
  }
}
