mat-expansion-panel {
  width: 60%;
  min-width: 400px;
  max-width: 750px;
  margin-bottom: 1px;
  transition: width 225ms cubic-bezier(.4, 0, .2, 1);
  mat-panel-title {
    height: 17px;
    &.completed {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: line-through;
    }
  }
  &.mat-expanded {
    width: 70%;
    max-width: 900px;
    margin: 16px 0;
  }
  .task-action-spacer {
    flex: 1 1 auto;

  }
  .mat-action-row {
    justify-content: left;
    .mat-raised-button {
      min-width: 40px;
      margin-right: 16px;
    }
  }
  .task-dates {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    height: 36px;
  }
}
