<mat-expansion-panel (opened)="emitOpen(id)"
                     [expanded]="isOpened"
                     (closed)="editing.next(false)">

  <mat-expansion-panel-header>
    <mat-panel-title [ngClass]="{'completed': !!task.dateCompleted}">
      {{task.title}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width" *ngIf="editing | async">
      <input matInput placeholder="Title" type="text"
             (keydown)="$event.keyCode == 13 ? editing.next(false) : null"
             [(ngModel)]="task.title">
  </mat-form-field>

  <div [ngSwitch]="editing | async">
    <div *ngSwitchCase="false" class="preserve-whitespace">{{task.description}}</div>
    <mat-form-field *ngSwitchCase="true" class="full-width">
      <textarea matInput placeholder="Description"
                matTextareaAutosize
                [matAutosizeMinRows]="3"
                [matAutosizeMaxRows]="8"
                (keydown)="$event.keyCode === 13 && !$event.shiftKey ? editing.next(false) : null"
                [(ngModel)]="task.description"></textarea>
    </mat-form-field>
  </div>

  <mat-action-row>

    <div class="task-dates">
      <div>
        Created: {{task.dateCreated | date:'short'}}
      </div>
      <div *ngIf="!!task.dateCompleted">
        Completed: {{task.dateCompleted | date:'short'}}
      </div>
    </div>

    <div class="spacer"></div>

    <button mat-raised-button
            color="{{ (editing | async) ? 'accent' : 'primary' }}"
            [ngSwitch]="editing | async"
            (click)="editing.next(!editing.getValue())">
        <mat-icon *ngSwitchCase="false">edit</mat-icon>
        <mat-icon *ngSwitchCase="true">save</mat-icon>
    </button>
    <button mat-raised-button
            color="{{ !!task.dateCompleted ? 'accent' : 'primary' }}"
            [ngSwitch]="!!task.dateCompleted"
            (click)="completedHandler(task.dateCompleted)">
      <mat-icon *ngSwitchCase="false">done</mat-icon>
      <mat-icon *ngSwitchCase="true">undo</mat-icon>
    </button>

  </mat-action-row>

</mat-expansion-panel>

