<mat-expansion-panel (opened)="emitOpen(id)" [expanded]="isOpened">
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{task.title}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  
  {{task.description}}
  
  <mat-action-row>
    
    <div class="task-dates">
      <div>
        Created: {{task.dateCreated | date:'short'}}
      </div>
      <div *ngIf="task.dateCompleted">
        Completed: {{task.dateCompleted | date:'short'}}
      </div>
    </div>
    
    <div class="task-action-spacer"></div>
    
    <button mat-raised-button
            color="{{ (editing | async) ? 'accent' : 'primary' }}"
            [ngSwitch]="editing | async"
            (click)="editing.next(!editing.getValue())">
        <mat-icon *ngSwitchCase="false">edit</mat-icon>
        <mat-icon *ngSwitchCase="true">save</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>done</mat-icon>
    </button>
  
  </mat-action-row>

</mat-expansion-panel>

