/* You can add global styles to this file, and also import other style files */
@import 'reset.css';
@import "theme";
@import "../app/modules/auth/auth-styles";

.absolute-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dark-theme {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #8c8c8c;
    -webkit-box-shadow: 0 0 0 100px #424242 inset;
  }
}

.full-width {
  width: 100%;
}

.preserve-whitespace {
  white-space: pre-wrap;
}

.spacer {
  flex: 1 1 auto;
}

.snackbar-error {
  background-color: mat-color($dark-warn);
  .mat-simple-snackbar-action {
    color: $white-50-opacity;
  }
}
