<div *ngIf="!working" class="login-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSignUp()">
    
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        class="input"
        type="email">
      <mat-error class="app-input-message"
           *ngIf="!registerForm.get('email').pristine
            && registerForm.get('email').errors != null
            && registerForm.get('email').errors['noEmail']">
        Invalid email address
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        class="input"
        type="password">
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Confirm password"
        formControlName="confirmPassword"
        class="input"
        type="password">
      <mat-error *ngIf="!registerForm.get('confirmPassword').pristine
          && registerForm.get('confirmPassword').errors != null
          && registerForm.get('confirmPassword').errors['passwordsNotMatch']">
        Passwords don't match
      </mat-error>
    </mat-form-field>
    <br/>
    <br/>
    <button mat-raised-button color="primary"
            class="button is-primary is-fullwidth"
            type="submit"
            [disabled]="!registerForm.valid">
      <mat-icon>check</mat-icon>
      <span>Sign Up</span>
    </button>
  </form>
</div>
<div *ngIf="working"
     fxLayout="column"
     fxLayoutAlign="space-evenly center">
  <mat-spinner [strokeWidth]="5"></mat-spinner>
</div>
