.toolbar-offset {
  top: 56px;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 200px;
  }

  mat-sidenav-content {
    .sidenav-toggle-btn {
      min-width: 42px;
      box-shadow: none;
      border-radius: 0;
      border-bottom-right-radius: 5px;
    }
  }
}

mat-expansion-panel {
  width: 70%;
  margin-bottom: 1px;
  transition: width 225ms cubic-bezier(.4,0,.2,1);
  &.mat-expanded {
    width: 75%;
    margin: 15px 0;
    &:first-child {
      margin-top: 0;
    }
  }
}
