.toolbar-offset {
  top: 56px;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 250px;
  }

  mat-sidenav-content {
    .sidenav-toggle-btn {
      min-width: 42px;
      border-radius: 0;
      border-bottom-right-radius: 5px;
    }
  }
}

mat-expansion-panel {
  width: 60%;
  min-width: 400px;
  max-width: 750px;
  margin-bottom: 1px;
  transition: width 225ms cubic-bezier(.4,0,.2,1);
  &.mat-expanded {
    width: 70%;
    max-width: 900px;
    margin: 15px 0;
    &:first-child {
      margin-top: 0;
    }
  }
}
