<p>
  home works!
</p>
<div class="absolute-container toolbar-offset">
  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 [mode]="'side'"
                 [opened]="true"
                 class="example-sidenav mat-elevation-z3">
      Jolly good!
    </mat-sidenav>
    <mat-sidenav-content>
      <button mat-raised-button
              (click)="sidenav.toggle()"
              class="sidenav-toggle-btn"
              color="primary">
        <mat-icon>menu</mat-icon>
      </button>
      <div fxLayout="column"
           fxLayoutAlign="space-evenly center">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <!--<mat-panel-description>-->
              <!--Type your name and age-->
            <!--</mat-panel-description>-->
          </mat-expansion-panel-header>
          
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
          <mat-action-row>
            <button mat-raised-button color="accent">click me!</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              Type your name and age
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
          <mat-action-row>
            <button mat-raised-button color="accent">click me!</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              Type your name and age
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
          <mat-action-row>
            <button mat-raised-button color="accent">click me!</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
