<div class="absolute-container toolbar-offset">
  <mat-sidenav-container>
    <mat-sidenav #sidenav
                 [mode]="'side'"
                 [opened]="true"
                 class="example-sidenav mat-elevation-z3">
      <app-lists-nav></app-lists-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <button mat-raised-button
              (click)="sidenav.toggle()"
              class="sidenav-toggle-btn"
              color="primary">
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
