.toolbar-offset {
  top: 56px;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 270px;
  }

  mat-sidenav-content {
    .sidenav-toggle-btn {
      min-width: 42px;
      min-height: 48px;
      border-radius: 0;
      border-bottom-right-radius: 5px;
    }
  }
}
