<div *ngIf="!working">
  <form [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
        class="text-centered">
    
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        class="input"
        type="email"/>
      <mat-error *ngIf="!loginForm.controls.email.hasError('isEmail') && !loginForm.controls.email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        class="input"
        type="password"/>
    </mat-form-field>
    
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="!loginForm.valid">
      <mat-icon>vpn_key</mat-icon>
      <span>Login</span>
    </button>
  </form>
</div>
<div *ngIf="working"
     fxLayout="column"
     fxLayoutAlign="space-evenly center">
  <mat-spinner [strokeWidth]="5"></mat-spinner>
</div>
